Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --config, banking_backend/pyproject.toml]
        files: ^banking_backend/
      - id: ruff-format
        args: [--config, banking_backend/pyproject.toml]
        files: ^banking_backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: end-of-file-fixer
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: check-yaml
        args: ['--allow-multiple-documents']  # Allow k8s multi-doc YAML
        exclude: ^(frontend/node_modules/)
      - id: check-json
        exclude: ^(frontend/|security_audit.*\.json)  # Exclude frontend and audit files
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^(frontend/node_modules/)

  # ESLint for Frontend TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix frontend lint
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [commit]

  # Django System Check
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: python banking_backend/manage.py check --fail-level WARNING
        language: system
        files: ^banking_backend/.*\.py$
        pass_filenames: false
        stages: [commit]

# CI settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

Fix: Hardened Manager role detection for PII/Photos and restored approval interactivity with fallback diagnostics.
  banking_backend/core/serializers/accounts.py
  frontend/src/components/operational/OnboardingHub.tsx
Due: eslint, django-check

UI: Standardized dashboard review panel spacing and resolved ESLint compliance warnings.
  frontend/src/components/operational/OnboardingHub.tsx
  frontend/src/components/operational/SupportHub.tsx
  frontend/src/pages/ManagerDashboard.tsx
Due: eslint

Operational UI Visibility Stabilized, Sunrise Theme Scoped, and Security Hardening
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  banking_backend/core/serializers/accounts.py
  banking_backend/core/tasks.py
  banking_backend/core/tests_celery.py
  banking_backend/core/views/dashboard.py
  banking_backend/requirements.txt
  banking_backend/users/serializers.py
  frontend/package.json
  frontend/server.js
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/operational/OnboardingHub.tsx
  frontend/src/index.css
Due: eslint, django-check

Security Remediation: Upgrade Pillow 12.2.0 and follow-redirects 1.16.0
  banking_backend/requirements.txt
  frontend/package.json
Due: none

Security Remediation: Synchronized lockfiles and requirements for Pillow and follow-redirects
  frontend/package-lock.json
  frontend/package.json
Due: none

CI/CD Remediation: Added missing testing dependencies (pytest, hypothesis, etc.)
  banking_backend/requirements.txt
Due: none

CI/CD Remediation: Fixed psutil dependency and migration 0046 redundancy
  banking_backend/core/migrations/0046_account_initial_balance_and_more.py
  banking_backend/requirements.txt
Due: django-check

CI/CD Remediation: Added missing bleach dependency for tests
  banking_backend/requirements.txt
Due: none

Stabilization: Resolved CI import errors (pdf_services) and Decimal precision validation failures
  banking_backend/core/__init__.py
Due: django-check

Final backend CI stabilization: circular imports, schema state reconciliation, and logical test fixes.
  banking_backend/core/__init__.py
  banking_backend/core/migrations/0046_account_initial_balance_and_more.py
  banking_backend/core/tests/test_services_transactions.py
Due: django-check

Fix vulnerabilities and update migration script v9
  banking_backend/core/migrations/0066_alter_account_initial_balance_alter_expense_date.py
  banking_backend/core/serializers/accounts.py
  banking_backend/core/tests/test_api_reports.py
  banking_backend/core/tests/test_api_transactions.py
  banking_backend/core/views/accounts.py
  banking_backend/requirements.txt
  banking_backend/smart_migrate.py
  banking_backend/users/migrations/0028_alter_user_email.py
  banking_backend/users/models.py
  banking_backend/users/tests/test_services_sms.py
  banking_backend/users/urls.py
  frontend/package.json
  frontend/src/pages/MessagingPage.tsx
  frontend/src/utils/messaging/EnhancedWebSocketManager.js
Due: eslint, django-check

Fix dependency conflict: upgrade pytest-asyncio to 1.3.0 for pytest 9 compatibility
  banking_backend/requirements.txt
Due: none

Fix UnboundLocalError in Channels middleware for expired tokens
  banking_backend/config/channels_middleware.py
Due: django-check

Fix IntegrityError: set first_name and last_name nullable in production (v10)
  banking_backend/smart_migrate.py
Due: django-check

Fix onboarding photos: expand viewer roles and handle masked placeholders
  banking_backend/core/serializers/accounts.py
  frontend/src/components/operational/OnboardingHub.tsx
Due: eslint, django-check

Optimize file streaming in ASGI using async iterators to resolve warnings
  banking_backend/core/admin.py
  banking_backend/core/views/accounts.py
  banking_backend/users/admin.py
  banking_backend/users/views.py
Due: django-check

Fix Profile updates and robust UserManager logic for email-less accounts
  banking_backend/core/views/accounts.py
  banking_backend/users/models.py
  banking_backend/users/serializers.py
Due: django-check

Fix: Add missing logger to users/models.py
  banking_backend/users/models.py
Due: django-check

Fix: Replace UserManager make_random_password with get_random_string
  banking_backend/users/models.py
Due: django-check

Identity: Implement Dual-Login (Email or Phone) and Robust UserManager
  banking_backend/config/settings.py
  banking_backend/users/authentication_backends.py
  banking_backend/users/models.py
Due: django-check

Identity: Fix IntegrityError during client registration by making staff_number nullable in migration engine
  banking_backend/smart_migrate.py
Due: django-check

Identity: Consolidate User model and fix NoneType __str__ error
  banking_backend/users/models.py
Due: django-check

fix: synchronize frontend auth state and harden PDF delivery flow
  banking_backend/core/views/accounts.py
  frontend/src/components/shared/ProfileSettings.tsx
Due: eslint, django-check

chore: stabilize infrastructure and finalize messaging parity
  banking_backend/config/routing.py
  banking_backend/config/settings.py
  banking_backend/core/consumers.py
  banking_backend/core/migrations/0067_chatmessage_attachment_name_and_more.py
  banking_backend/core/models/messaging.py
  banking_backend/core/urls.py
  banking_backend/core/views/__init__.py
  banking_backend/core/views/chat_views.py
  banking_backend/requirements.txt
  banking_backend/schema.yml
  banking_backend/users/models.py
  banking_backend/users/serializers.py
Due: django-check

feat(messaging): achieve WhatsApp-style parity with read receipts, replies, and persistent reactions
  banking_backend/core/consumers.py
  banking_backend/core/migrations/0068_chatmessage_read_at_chatmessage_read_by.py
  banking_backend/core/migrations/0069_chatmessage_parent.py
  banking_backend/core/models/messaging.py
  banking_backend/core/views/chat_views.py
  banking_backend/schema.yml
Due: django-check

fix: Resolve missing reportlab dependency and standardize inline PDF viewing for all account and manager printing workflows.
  banking_backend/core/admin.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/reports.py
  banking_backend/requirements.txt
  banking_backend/users/admin.py
  banking_backend/users/views.py
Due: django-check

fix: resolve ValueError in account creation and standardize PDF generation logic
  banking_backend/core/admin.py
  banking_backend/core/report_download.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/reports.py
  banking_backend/users/admin.py
Due: django-check

fix: Robust PDF printing in Manager portal and added re-print functionality
  banking_backend/core/views/accounts.py
  frontend/src/components/manager/AccountOpeningsSection.tsx
  frontend/src/services/api.ts
Due: eslint, django-check

refactor: Remove legacy async_file_iterator from reports for architectural consistency
  banking_backend/core/views/reports.py
Due: django-check

Fix manager print welcome letter feature
  banking_backend/core/views/accounts.py
  frontend/src/components/manager/AccountOpeningsSection.tsx
  frontend/src/services/api.ts
Due: eslint, django-check

Fix backend security constants and remove unused react imports
  banking_backend/users/models.py
  frontend/src/components/manager/AccountOpeningsSection.tsx
  frontend/src/pages/FraudRules.tsx
Due: eslint, django-check

Refactor backend code for PEP8 compliance and fix logical lint errors
  banking_backend/core/management/commands/seed_report_templates.py
  banking_backend/core/middleware/__init__.py
  banking_backend/core/middleware/anomaly_detection.py
  banking_backend/core/models/__init__.py
  banking_backend/users/views.py
Due: django-check

Cleanup husky pre-commit script
  .husky/pre-commit
Due: none

fix: remediate high-severity logging alert and CI test regressions
  .github/workflows/codeql.yml
  banking_backend/core/report_download.py
  banking_backend/core/tests/test_api_accounts.py
  banking_backend/core/tests/test_api_mobile.py
  banking_backend/requirements.txt
  banking_backend/users/models.py
  frontend/package.json
Due: django-check

fix: resolve CI lockfile mismatch and finalize CodeQL logging hardening
  banking_backend/users/models.py
  frontend/package-lock.json
Due: django-check

Align Manager portal account approval and printing workflow with Admin dashboard; standardizing backend tracking and frontend handling.
  banking_backend/core/test_api_dashboards.py
  banking_backend/core/tests/test_api_loans.py
  banking_backend/core/tests/test_api_reports.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/loans.py
  frontend/src/components/operational/OnboardingHub.tsx
  frontend/src/services/api.ts
Due: eslint, django-check

feat: implement system alert infrastructure and anomaly detection hardening
  banking_backend/config/settings.py
  banking_backend/core/middleware/anomaly_detection.py
  banking_backend/core/middleware/mtls_verification.py
  banking_backend/core/migrations/0070_systemalert.py
  banking_backend/core/models/__init__.py
  banking_backend/core/models/operational.py
  banking_backend/users/security.py
  banking_backend/users/views.py
Due: django-check

security: remediate @xmldom/xmldom and postcss vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: transition to Advanced CodeQL Setup for high-quality Java analysis
  .github/workflows/codeql.yml
Due: none

fix: ci regressions and codeql dependency synchronization
  .github/workflows/codeql.yml
  frontend/vite.config.ts
Due: none
