Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --config, banking_backend/pyproject.toml]
        files: ^banking_backend/
      - id: ruff-format
        args: [--config, banking_backend/pyproject.toml]
        files: ^banking_backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: end-of-file-fixer
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: check-yaml
        args: ['--allow-multiple-documents']  # Allow k8s multi-doc YAML
        exclude: ^(frontend/node_modules/)
      - id: check-json
        exclude: ^(frontend/|security_audit.*\.json)  # Exclude frontend and audit files
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^(frontend/node_modules/)

  # ESLint for Frontend TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix frontend lint
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [commit]

  # Django System Check
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: python banking_backend/manage.py check --fail-level WARNING
        language: system
        files: ^banking_backend/.*\.py$
        pass_filenames: false
        stages: [commit]

# CI settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

Fix CI failure: Add missing PII_HASH_KEY and DEBUG env to workflows
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

Resolve frontend ERESOLVE conflict: Upgrade ESLint plugins and add --legacy-peer-deps to CI
  .github/workflows/deploy.yml
  frontend/package.json
Due: none

Fix Render build error: Add .npmrc to enforce legacy-peer-deps project-wide
  frontend/.npmrc
Due: none

Sync frontend package-lock.json with ESLint 10 upgrades
  frontend/package-lock.json
Due: none

Fix Dependabot security updates: Pin vulnerable dependencies in requirements.txt
  banking_backend/requirements.txt
Due: none

Fix Recharts build error: Add react-is explicitly to frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

Potential fix for code scanning alert no. 38: Clear-text logging of sensitive information
  banking_backend/users/services.py
  banking_backend/users/views.py
Due: django-check

Fix Render proxy and staff ID resolution
  banking_backend/config/settings.py
  banking_backend/users/migrations/0016_user_staff_number.py
  banking_backend/users/models.py
  banking_backend/users/security.py
  banking_backend/users/signals.py
Due: django-check

Upgrade Render to Python 3.12 and fix ujson version typo
  banking_backend/requirements.txt
Due: none

Correctly update Render Python version to 3.12.12
  render.yaml
Due: none

Fix non-existent protobuf version in requirements.txt
  banking_backend/requirements.txt
Due: none

Fix production schema sync: add staff_number to smart_migrate.py
  banking_backend/smart_migrate.py
Due: django-check

fix(dashboard): unify account lifecycle in Accounts tab, fix OpenAPI.BASE for production
  frontend/src/api/core/OpenAPI.ts
  frontend/src/components/AccountsTab.tsx
Due: eslint

fix(auth): enable withCredentials + CSRF header injection in OpenAPI axios client
  frontend/src/api/core/OpenAPI.ts
Due: eslint

fix(admin): remove first_name/last_name from UserAdmin fieldsets — they are encrypted properties not DB columns
  banking_backend/users/admin.py
Due: django-check

fix(schema): drop legacy phone_number column from sms_outbox to resolve IntegrityError
  banking_backend/smart_migrate.py
Due: django-check

fix(auth): set send_otp and verify_and_submit to AllowAny and relax throttle limits
  banking_backend/config/settings.py
  banking_backend/core/views/accounts.py
Due: django-check

fix(sms): harden Sendexa integration and fix premature logging
  banking_backend/core/views/accounts.py
  banking_backend/users/services.py
Due: django-check

fix: remove non-existent nationality field and use StaffSerializer for PII decryption
  banking_backend/core/serializers/accounts.py
  banking_backend/users/views.py
Due: django-check

Fix: Admin 500 in Fraud Alerts. Update smart_migrate.py to v6 to sync ML-support columns and resolved Unicode errors.
  banking_backend/smart_migrate.py
Due: django-check

Fix: User Admin Redirection/500 Error. Update smart_migrate.py to v7 to sync security and transaction limit columns.
  banking_backend/smart_migrate.py
Due: django-check

fix: resolve staff IDs display and update Sendexa to Bearer auth
  banking_backend/users/services.py
  banking_backend/users/views.py
Due: django-check

fix(frontend): resolve build errors (missing API types & react-is dependency)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/api/models/AccountOpeningRequest.ts
  frontend/src/api/models/FraudRule.ts
  frontend/src/api/models/FraudRuleRequest.ts
  frontend/src/api/models/RuleTypeEnum.ts
Due: eslint

fix(sms): use direct token for Sendexa (new 2026 setup)
  banking_backend/users/services.py
  banking_backend/users/tests/test_services_sms.py
Due: django-check

fix(sms): add Basic prefix for Sendexa Authorization
  banking_backend/users/services.py
Due: django-check

fix(sms): align Sendexa with service.sendexa.co API and relax throttling
  banking_backend/config/settings.py
  banking_backend/users/services.py
Due: django-check

fix(sms): harden Sendexa service with browser-mimicry headers for Cloudflare bypass
  banking_backend/users/services.py
Due: django-check

fix(sms): use robust HTTPBasicAuth parsing and maintain hardened headers
  banking_backend/users/services.py
Due: django-check

fix(sms): pivot to Bearer authentication to resolve Invalid API Token error
  banking_backend/users/services.py
Due: django-check

fix(sms): final resolution - combined robust basic auth with browser mimicry
  banking_backend/users/services.py
Due: django-check

fix(sms): official bearer alignment and silence configuration warning
  banking_backend/users/apps.py
  banking_backend/users/services.py
Due: django-check

fix(sms): revert to server endpoint to bypass cloudflare and refine bearer auth
  banking_backend/users/services.py
Due: django-check

fix(sms): refactor to explicit Basic Auth with CLIENT_ID and API_KEY
  banking_backend/config/settings.py
  banking_backend/users/apps.py
  banking_backend/users/services.py
Due: django-check

refactor: simplify Sendexa SMS headers for Postman parity
  banking_backend/users/services.py
Due: django-check

Cleanup: Moved .gemini/ to .gitignore and removed from tracking
  banking_backend/.gitignore
Due: none

Production-Ready Banking Backend: 338/338 passing tests + Full Security Hardening
  banking_backend/config/settings.py
  banking_backend/core/admin.py
  banking_backend/core/urls.py
  banking_backend/core/views/__init__.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/messaging.py
  banking_backend/core/views/mobile.py
  banking_backend/core/views/registration.py
  banking_backend/core/views/transactions.py
  banking_backend/tests/test_auth_integration.py
  banking_backend/users/security.py
  banking_backend/users/serializers.py
  banking_backend/users/services.py
  banking_backend/users/urls.py
  banking_backend/users/views.py
  frontend/src/components/manager/AccountOpeningsSection.tsx
  frontend/src/pages/ManagerDashboard.tsx
Due: eslint, django-check
