Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --config, banking_backend/pyproject.toml]
        files: ^banking_backend/
      - id: ruff-format
        args: [--config, banking_backend/pyproject.toml]
        files: ^banking_backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: end-of-file-fixer
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: check-yaml
        args: ['--allow-multiple-documents']  # Allow k8s multi-doc YAML
        exclude: ^(frontend/node_modules/)
      - id: check-json
        exclude: ^(frontend/|security_audit.*\.json)  # Exclude frontend and audit files
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^(frontend/node_modules/)

  # ESLint for Frontend TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix frontend lint
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [commit]

  # Django System Check
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: python banking_backend/manage.py check --fail-level WARNING
        language: system
        files: ^banking_backend/.*\.py$
        pass_filenames: false
        stages: [commit]

# CI settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

fix(db): add encrypted PII columns to smart_migrate sync list
  banking_backend/smart_migrate.py
Due: django-check

fix(ci): add FIELD_ENCRYPTION_KEY and DEBUG to CI workflow
  .github/workflows/main.yml
Due: none

fix(db): add encrypted PII columns for AccountOpeningRequest to sync list
  banking_backend/smart_migrate.py
Due: django-check

fix(ci): add Capacitor sync step before Android build in CodeQL workflow
  .github/workflows/codeql-android.yml
Due: none

fix(ci): upgrade PostgreSQL from 13 to 17 for Django 5.2 compatibility
  .github/workflows/main.yml
Due: none

fix(migrations): remove duplicate initial_balance from 0034 (already in 0020)
  banking_backend/core/migrations/0034_add_encrypted_pii_to_accountopening.py
Due: django-check

fix(ci): upgrade Node.js to 22 for Capacitor 8.x in CodeQL workflow
  .github/workflows/codeql-android.yml
Due: none

fix(ci): use cap update instead of cap sync, create assets dir for CodeQL
  .github/workflows/codeql-android.yml
Due: none

fix(migrations): make 0034 a no-op (both fields already exist in 0020, 0022)
  banking_backend/core/migrations/0034_add_encrypted_pii_to_accountopening.py
Due: django-check

fix(ci): add pytest-cov to requirements, upgrade to Java 21 for Capacitor
  .github/workflows/codeql-android.yml
  banking_backend/requirements.txt
Due: none

fix(ci): add hypothesis for property-based testing
  banking_backend/requirements.txt
Due: none

chore(ci): remove custom CodeQL workflow in favor of GitHub default setup
  .github/workflows/codeql-android.yml
Due: none

fix(ci): use valid Fernet-generated encryption key for testing
  .github/workflows/main.yml
Due: none

fix(ci): exclude utility scripts from coverage, lower threshold to 50%
  banking_backend/pytest.ini
Due: none

fix(ci): add .coveragerc for proper coverage exclusions
  banking_backend/.coveragerc
  banking_backend/pytest.ini
Due: none

feat(accounts): require customer email for login credentials
  banking_backend/core/migrations/0038_require_customer_email.py
  banking_backend/core/models/accounts.py
  banking_backend/core/serializers/accounts.py
  banking_backend/core/views/accounts.py
Due: django-check

fix(migrations): remove duplicate initial_balance/initial_deposit from 0038
  banking_backend/core/migrations/0038_require_customer_email.py
Due: django-check

fix(security): PII remediation for Render deploy
  .github/workflows/main.yml
  banking_backend/core/migrations/0039_remove_accountopeningrequest_id_number_and_more.py
  banking_backend/core/migrations/0040_transaction_approval_date_transaction_approved_by_and_more.py
  banking_backend/core/migrations/0041_remove_clientregistration_id_number_and_more.py
  banking_backend/core/migrations/0042_remove_smsoutbox_phone_number_and_more.py
  banking_backend/core/migrations/0043_remove_accountclosurerequest_phone_number_and_more.py
  banking_backend/core/migrations/0044_remove_accountopeningrequest_digital_address_and_more.py
  banking_backend/core/migrations/0045_remove_bankingmessage_body_and_more.py
  banking_backend/users/migrations/0012_remove_user_id_number_remove_user_phone_number.py
  banking_backend/users/migrations/0013_user_id_number_hash_user_phone_number_hash.py
  banking_backend/users/migrations/0014_remove_user_staff_id_user_ssnit_number_encrypted_and_more.py
  banking_backend/users/migrations/0015_remove_user_first_name_remove_user_last_name_and_more.py
  frontend/src/__tests__/logger.test.ts
  frontend/src/lib/api.deprecated.ts
  frontend/src/utils/accessibility.js
  frontend/src/utils/logger.ts
Due: eslint, django-check

fix(migrations): remove duplicate AddField for initial_balance/initial_deposit
  banking_backend/core/migrations/0039_remove_accountopeningrequest_id_number_and_more.py
Due: django-check

fix(api): use JsonResponse in IdempotencyMixin to fix renderer error
  banking_backend/core/mixins.py
Due: django-check

fix(idempotency): exclude 401/429 from caching to allow token refresh retries
  banking_backend/core/mixins.py
Due: django-check

Fix: Add missing user-agents dependency to requirements.txt
  banking_backend/requirements.txt
Due: none

Fix: Add dynamic Basic Auth generation for Sendexa SMS
  banking_backend/users/services.py
Due: django-check

Fix: Create missing CashierDashboard.css to resolve build error
  frontend/src/pages/CashierDashboard.css
Due: none

fix: resolve missing PII keys on Render and sync source changes
  banking_backend/core/audit_signals.py
  banking_backend/core/models/accounts.py
  banking_backend/core/models/loans.py
  banking_backend/core/models/messaging.py
  banking_backend/core/models/operational.py
  banking_backend/core/models/reliability.py
  banking_backend/core/serializers/messaging.py
  banking_backend/core/services/transactions.py
  banking_backend/core/utils/__init__.py
  banking_backend/core/utils/field_encryption.py
  banking_backend/core/utils/rotation.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/dashboard.py
  banking_backend/core/views/reports.py
  banking_backend/core/views/transactions.py
  banking_backend/users/models.py
  banking_backend/users/security.py
  banking_backend/users/services.py
  frontend/src/components/messaging/CallOverlay.css
  frontend/src/components/shared/CameraCapture.css
  frontend/src/pages/CashierDashboard.css
  render.yaml
Due: django-check

fix: make build process resilient to missing PII keys and provide manual setup
  banking_backend/build.sh
  banking_backend/check_hash.py
  banking_backend/config/settings.py
  banking_backend/debug_2.txt
  banking_backend/debug_3.txt
  banking_backend/debug_4.txt
  banking_backend/debug_output.txt
  banking_backend/v4_error.txt
  banking_backend/v6_error.txt
  banking_backend/verify_error_p8.txt
  banking_backend/verify_error_p8_utf8.txt
  banking_backend/verify_error_p8_v2.txt
  banking_backend/verify_error_p8_v2_utf8.txt
  banking_backend/verify_final.py
  banking_backend/verify_output.txt
  banking_backend/verify_pii_phase8.py
  banking_backend/verify_pii_phase9.py
  banking_backend/verify_v11.py
  banking_backend/verify_v2.py
  banking_backend/verify_v3.py
  banking_backend/verify_v4.py
  banking_backend/verify_v5.py
  banking_backend/verify_v6.py
  banking_backend/verify_v7.py
  banking_backend/verify_v8.py
  commit_log.txt
  verify_error.txt
Due: django-check

fix: exhaustive PII column sync in smart_migrate.py
  banking_backend/smart_migrate.py
Due: django-check

fix(database): exhaustive schema sync for PII encryption and Maker-Checker standard fields (AccountRequests + Transactions)
  banking_backend/smart_migrate.py
Due: django-check

fix(performance): use async_file_iterator for StreamingHttpResponse in ASGI context
  banking_backend/core/report_download.py
  banking_backend/core/utils/async_stream.py
  banking_backend/core/views/reports.py
Due: django-check

fix(security): implement industry standard OTP delivery and rate limiting
  banking_backend/core/views/accounts.py
  banking_backend/core/views/registration.py
  banking_backend/users/views.py
Due: django-check

fix(security): resolve TypeError in AccountOpeningViewSet throttle configuration
  banking_backend/core/views/accounts.py
  banking_backend/core/views/registration.py
Due: django-check

fix(security): use robust get_throttles pattern to resolve ViewSet TypeError
  banking_backend/core/views/accounts.py
  banking_backend/core/views/registration.py
Due: django-check

security: PII hardening, schema cleanup and deployment sync
  banking_backend/core/audit_signals.py
  banking_backend/core/migrations/0046_account_initial_balance_and_more.py
  banking_backend/core/migrations/0047_security_encrypt_sms_message.py
  banking_backend/core/migrations/0048_fix_remove_client_assignment_duplicate_name.py
  banking_backend/core/models/operational.py
  banking_backend/core/models/reliability.py
  banking_backend/core/serializers/operational.py
  banking_backend/core/utils/pii_masking.py
  banking_backend/core/views/accounts.py
  banking_backend/smart_migrate.py
  banking_backend/users/views.py
Due: django-check

chore: fix pre-existing ruff lint errors in core and user views
  banking_backend/core/views/accounts.py
  banking_backend/users/views.py
Due: django-check

fix(security): comprehensive security audit and schema hardening
  banking_backend/.env.example
  banking_backend/core/log_filters.py
  banking_backend/core/middleware.py
  banking_backend/core/mixins.py
  banking_backend/core/views/mobile.py
  banking_backend/core/views/registration.py
  banking_backend/requirements.txt
  banking_backend/users/apps.py
  banking_backend/users/services.py
  banking_backend/users/signals.py
  banking_backend/users/test_sendexa.py
  banking_backend/verify_api3_leak.py
Due: django-check

fix(security): resolve 17/19 vulnerabilities, upgrade Django to 6.0, and fix frontend XSS/Prototype Pollution
  banking_backend/core/views/mobile.py
  banking_backend/requirements.txt
  banking_backend/users/test_sendexa.py
  banking_backend/verify_api3_leak.py
Due: django-check

chore: cleanup scratch scripts and update .gitignore
  banking_backend/.gitignore
  banking_backend/users/test_sendexa.py
  banking_backend/verify_api3_leak.py
Due: django-check

Upgrade CI/CD workflows to Node.js 24 and latest GitHub Actions versions
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none
