Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --config, banking_backend/pyproject.toml]
        files: ^banking_backend/
      - id: ruff-format
        args: [--config, banking_backend/pyproject.toml]
        files: ^banking_backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: end-of-file-fixer
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: check-yaml
        args: ['--allow-multiple-documents']  # Allow k8s multi-doc YAML
        exclude: ^(frontend/node_modules/)
      - id: check-json
        exclude: ^(frontend/|security_audit.*\.json)  # Exclude frontend and audit files
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^(frontend/node_modules/)

  # ESLint for Frontend TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix frontend lint
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [commit]

  # Django System Check
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: python banking_backend/manage.py check --fail-level WARNING
        language: system
        files: ^banking_backend/.*\.py$
        pass_filenames: false
        stages: [commit]

# CI settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

fix(frontend): Switch to axios client for API generation to resolve Render build failure
  frontend/build_output.txt
  frontend/build_output_ascii.txt
  frontend/dist/index.html
  frontend/help.txt
  frontend/help_ascii.txt
  frontend/package.json
  frontend/src/api/core/request.ts
Due: eslint

fix(frontend): Add checkAuth to apiService and safety guard in AuthContext to resolve production runtime error
  frontend/dist/index.html
  frontend/src/context/AuthContext.tsx
  frontend/src/services/api.ts
Due: eslint

fix(frontend): resolve AccountOpenings type errors, sync API client, and update docs
  banking_backend/schema.yml
  frontend/dist/index.html
  frontend/package.json
  frontend/src/components/manager/AccountOpeningsSection.tsx
  frontend/src/services/api.ts
Due: eslint

fix: resolve all frontend lint errors and type mismatches
  frontend/dist/index.html
  frontend/lint_report.json
  frontend/package.json
  frontend/src/components/OverviewTab.tsx
  frontend/src/components/ProtectedMemberRoute.tsx
  frontend/src/components/ProtectedStaffRoute.tsx
  frontend/src/pages/CashierDashboard.tsx
  frontend/src/pages/MobileBankerDashboard.tsx
  frontend/src/pages/OperationsManagerDashboard.tsx
  frontend/src/services/api.ts
Due: eslint

feat: add missing API methods and fix endpoint paths
  frontend/dist/index.html
  frontend/src/services/api.ts
Due: eslint

fix: correct all API endpoint paths to match backend URLs
  frontend/dist/index.html
  frontend/src/services/api.ts
Due: eslint

fix: remove duplicate approveLoan method causing build failure
  frontend/dist/index.html
  frontend/src/services/api.ts
Due: eslint

fix: add migration fallback to handle existing tables in build.sh
  banking_backend/build.sh
Due: none

fix(deploy): fake all core and users migrations on failure to sync state
  banking_backend/build.sh
Due: none

fix: Resolve critical login handling issues
  banking_backend/config/settings.py
  banking_backend/core/views/cashier.py
  banking_backend/core/views/dashboard.py
  banking_backend/core/views/products.py
  banking_backend/core/views/reports.py
  banking_backend/core/views/system.py
  frontend/src/components/manager/SecuritySection.tsx
  frontend/src/context/AuthContext.tsx
  render.yaml
Due: eslint, django-check

fix: Correct malformed otp_verify throttle rate to 36/h to resolve global KeyError 500s
  banking_backend/config/settings.py
Due: django-check

fix: Remove dangerous fake migration fallback from build.sh to prevent silent schema failures
  banking_backend/build.sh
Due: none

fix: Automate database schema repair in build.sh
  banking_backend/build.sh
Due: none

fix: Switch migration strategy to --fake-initial in build.sh
  banking_backend/build.sh
Due: none
