Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

eslint:
  name: ESLint (Frontend)
  entry: npm run --prefix frontend lint
  language: system
  pass_filenames: false
  stages:
  - commit

django-check:
  name: Django System Check
  entry: python banking_backend/manage.py check --fail-level WARNING
  language: system
  pass_filenames: false
  stages:
  - commit

fix: Switch migration strategy to --fake-initial in build.sh
  banking_backend/build.sh
Due: none

fix: Fake migration 0020 to resolve 'core_message already exists' error
  banking_backend/build.sh
Due: none

fix: Fake both 0020 and 0021 migrations to sync with production DB
  banking_backend/build.sh
Due: none

feat: Multiple fixes for API endpoints and staff ID format
  banking_backend/core/urls.py
  banking_backend/users/signals.py
  frontend/src/api/services/ApiService.ts
  frontend/src/services/api.ts
Due: eslint, django-check

feat: Add welcome message with account number when account is approved
  banking_backend/core/views/accounts.py
Due: django-check

fix: Fix PayslipSerializer import error (ModuleNotFoundError)
  banking_backend/core/views/reports.py
Due: django-check

fix: Make logout robust and fix PayslipSerializer import
  frontend/src/services/api.ts
Due: eslint

fix: add initial_deposit field to AccountOpeningRequest model
  banking_backend/core/migrations/0022_add_initial_deposit_to_account_opening.py
  banking_backend/core/models_legacy.py
Due: django-check

fix: Security and performance improvements - Add IDOR protections to payslip and cash drawer - Add pagination limits to reports - Fix OpenAPI credentials
  banking_backend/core/views/cashier.py
  banking_backend/core/views/reports.py
  frontend/src/api/core/OpenAPI.ts
Due: eslint, django-check

fix: Make migration 0022 idempotent to handle existing column
  banking_backend/core/migrations/0022_add_initial_deposit_to_account_opening.py
Due: django-check

fix: Idempotent migrations and SMS welcome messages
  banking_backend/core/migrations/0020_add_initial_balance_and_quantize.py
  banking_backend/core/views/accounts.py
Due: django-check

fix: CI/CD coverage threshold, SMS to customer phone, dashboard null-safety
  .github/workflows/main.yml
  banking_backend/core/views/accounts.py
  frontend/src/components/manager/AccountOpeningsSection.tsx
  frontend/src/components/manager/SecuritySection.tsx
Due: eslint, django-check

fix: add optional chaining to AccountsTab to prevent TypeError on null owner
  .github/workflows/deploy.yml
  frontend/src/components/AccountsTab.tsx
Due: eslint

Path conditions:
  eslint: any of: ^frontend/src/.*\.(js|jsx|ts|tsx)$
  django-check: any of: ^banking_backend/.*\.py$
