Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --config, banking_backend/pyproject.toml]
        files: ^banking_backend/
      - id: ruff-format
        args: [--config, banking_backend/pyproject.toml]
        files: ^banking_backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: end-of-file-fixer
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: check-yaml
        args: ['--allow-multiple-documents']  # Allow k8s multi-doc YAML
        exclude: ^(frontend/node_modules/)
      - id: check-json
        exclude: ^(frontend/|security_audit.*\.json)  # Exclude frontend and audit files
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^(frontend/node_modules/)

  # ESLint for Frontend TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix frontend lint
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [commit]

  # Django System Check
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: python banking_backend/manage.py check --fail-level WARNING
        language: system
        files: ^banking_backend/.*\.py$
        pass_filenames: false
        stages: [commit]

# CI settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

Production Finalization: Stabilized 338/338 tests, migrations, and frontend synchronization
  banking_backend/core/migrations/0050_alter_clientregistration_submitted_by.py
  banking_backend/core/migrations/0051_visitschedule_check_in_at_and_more.py
  banking_backend/core/migrations/0052_alter_payslip_month.py
  banking_backend/core/views/chat_views.py
  banking_backend/users/migrations/0020_user_is_approved.py
  frontend/src/api/core/ApiRequestOptions.ts
  frontend/src/api/core/request.ts
  frontend/src/api/models/AccountClosureRequest.ts
  frontend/src/api/services/AccountOpeningsService.ts
  frontend/src/api/services/AccountsService.ts
  frontend/src/api/services/StaffManagementService.ts
  frontend/src/components/cashier/AccountOpeningTab.tsx
  frontend/src/components/manager/AccountClosuresSection.tsx
  frontend/src/components/manager/StaffIdsSection.tsx
  frontend/src/pages/ClientRegistration.tsx
Due: eslint, django-check

Fix: Resolve Postgres connection exhaustion during Render deployments
  banking_backend/config/settings.py
  banking_backend/smart_migrate.py
Due: django-check

Fix: Resolve AccountOpeningRequest IntegrityError and Build NameError
  banking_backend/smart_migrate.py
Due: django-check

Fix: Resolve IntegrityError for legacy 'nationality' column
  banking_backend/smart_migrate.py
Due: django-check

refactor(security): final security hardening and red/black team audit fixes
  banking_backend/core/chat_views.py
  banking_backend/core/models/hr.py
  banking_backend/core/models/operational.py
  banking_backend/core/pdf_services.py
  banking_backend/core/serializers/accounts.py
  banking_backend/core/serializers/loans.py
  banking_backend/core/serializers/messaging.py
  banking_backend/core/serializers/transactions.py
  banking_backend/core/services/loans.py
  banking_backend/core/services/transactions.py
  banking_backend/core/test_audit_fixes.py
  banking_backend/core/tests/__init__.py
  banking_backend/core/tests/black_team_pii_audit.py
  banking_backend/core/tests/simulation_red_team_attack.py
  banking_backend/core/tests/test_api_mobile.py
  banking_backend/core/tests/test_api_registration.py
  banking_backend/core/urls.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/loans.py
  banking_backend/core/views/registration.py
  banking_backend/core/views/transactions.py
  banking_backend/pytest.ini
  banking_backend/users/admin.py
  banking_backend/users/models.py
  banking_backend/users/signals.py
  banking_backend/users/tests/test_payload_security.py
  banking_backend/users/tests/test_services_sms.py
  banking_backend/users/tests/test_views.py
Due: django-check

🚀 Deployment: Resolve production schema mismatch in smart_migrate.py. Added missing is_approved and visit_schedule fields to resolve Render deployment failure. 100% production safety confirmed.
  banking_backend/smart_migrate.py
Due: django-check

fix(auth): solved 403 Forbidden on login and improved async logging
  banking_backend/config/settings.py
  banking_backend/core/middleware.py
  banking_backend/users/signals.py
Due: django-check

FIXED: Restore production 403 login for existing Render users. Auto-approves 'old' accounts in smart_migrate.py.
  banking_backend/smart_migrate.py
  banking_backend/users/serializers.py
Due: django-check

Hardening authentication and enrollment: role-based registration, OTP removal, and production user access fixes.
  banking_backend/.gitignore
  banking_backend/config/settings.py
  banking_backend/core/permissions.py
  banking_backend/core/views/accounts.py
  banking_backend/diag_auth.py
  banking_backend/requirements.txt
  banking_backend/users/management/commands/diag_users.py
  banking_backend/users/management/commands/fix_legacy_users.py
  banking_backend/users/serializers.py
  banking_backend/users/urls.py
  banking_backend/users/views.py
Due: django-check

Fix requirements.txt: removed local conda build artifacts to unblock Render deployment.
  banking_backend/requirements.txt
Due: none

Finalizing production build: Rebuilt requirements.txt with stable Django 5.1.x manifest for Render compatibility.
  banking_backend/requirements.txt
Due: none

Fix deployment: Added missing ML dependencies (joblib, scikit-learn, numpy).
  banking_backend/requirements.txt
Due: none

Fix deployment: Added missing uvicorn and websockets for ASGI worker support.
  banking_backend/requirements.txt
Due: none

Fix deployment: Added missing Pillow and phonenumbers for ImageField and phone validation support.
  banking_backend/requirements.txt
Due: none

Definitive production build: Optimized requirements.txt with 2026 best practices (Django 5.1.7 + Gunicorn-Uvicorn).
  banking_backend/requirements.txt
Due: none

remediate: Critical and high-priority bug fixes across backend and frontend.
  banking_backend/core/urls.py
  banking_backend/core/utils/pii_masking.py
  banking_backend/core/views/__init__.py
  banking_backend/core/views/registration.py
  banking_backend/create_test_data.py
  banking_backend/diag_auth.py
  banking_backend/smart_migrate.py
  banking_backend/test_failure_trace
  banking_backend/users/signals.py
  banking_backend/users/urls.py
  banking_backend/users/views.py
  e2e_test.py
  frontend/src/components/cashier/ComplaintsTab.tsx
  frontend/src/pages/BankingOperations.tsx
Due: eslint, django-check

Fix operational hub stability and untrack sensitive files
  banking_backend/core/models/operational.py
  banking_backend/core/models/reliability.py
  banking_backend/core/serializers/operational.py
  banking_backend/core/services/loans.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/cashier.py
  banking_backend/core/views/dashboard.py
  banking_backend/core/views/mobile.py
  banking_backend/core/views/reports.py
  banking_backend/manage.py
  banking_backend/users/serializers.py
  banking_backend/users/views.py
  e2e_test.py
  frontend/.env
  frontend/src/__tests__/OperationalHubs.test.tsx
  frontend/src/components/operational/AdministrativeHub.tsx
  frontend/src/components/operational/FinancialRequestsHub.tsx
  frontend/src/components/operational/OnboardingHub.tsx
  frontend/src/components/operational/OperationalMessenger.tsx
  frontend/src/components/operational/OperationalOverview.tsx
  frontend/src/components/operational/OperationalReports.tsx
  frontend/src/components/operational/SecurityOversight.tsx
  frontend/src/components/staff/AccountOpeningTab.tsx
  frontend/src/pages/BankingOperations.tsx
  frontend/src/pages/CashierDashboard.tsx
  frontend/src/pages/OperationsManagerDashboard.tsx
  frontend/src/pages/PerformanceDashboard.tsx
  frontend/src/pages/StaffOTPVerificationPage.tsx
Due: eslint, django-check

feat: Unify Banking Operations Portal & Manager Dashboard
  frontend/src/components/AccountsTab.tsx
  frontend/src/components/EnhancedUserManagementForm.tsx
  frontend/src/components/manager/SecuritySection.tsx
  frontend/src/components/manager/UserManagementSection.tsx
  frontend/src/components/operational/OnboardingHub.tsx
  frontend/src/components/operational/OperationalOverview.tsx
  frontend/src/pages/BankingOperations.tsx
  frontend/src/pages/ManagerDashboard.tsx
  frontend/src/services/api.ts
Due: eslint

feat(frontend): Finalize operational dashboard unification and remove legacy widgets
  frontend/src/__tests__/OperationalHubs.test.tsx
  frontend/src/components/CashFlowSection.tsx
  frontend/src/components/CommissionSection.tsx
  frontend/src/components/ExpensesSection.tsx
  frontend/src/components/InterestSection.tsx
  frontend/src/components/PayslipSection.tsx
  frontend/src/components/ServiceChargesSection.css
  frontend/src/components/ServiceChargesSection.tsx
  frontend/src/components/StatementsSection.tsx
  frontend/src/components/UserManagementSection.tsx
  frontend/src/components/cashier/CashAdvancesTab.tsx
  frontend/src/components/cashier/ComplaintsTab.tsx
  frontend/src/components/cashier/FraudAlertsTab.tsx
  frontend/src/components/cashier/RefundsTab.tsx
  frontend/src/components/cashier/ServiceRequestsTab.tsx
  frontend/src/components/manager/CashFlowSection.tsx
  frontend/src/components/manager/CommissionSection.tsx
  frontend/src/components/manager/ExpensesSection.tsx
  frontend/src/components/manager/InterestSection.tsx
  frontend/src/components/manager/PayslipSection.tsx
  frontend/src/components/manager/ServiceChargesSection.tsx
  frontend/src/components/manager/StaffIdsSection.tsx
  frontend/src/components/manager/StatementsSection.tsx
  frontend/src/components/manager/UserManagementSection.tsx
  frontend/src/components/operational/AdministrativeHub.tsx
  frontend/src/components/operational/FinancialOperationsHub.tsx
  frontend/src/components/operational/FinancialRequestsHub.tsx
  frontend/src/components/operational/SecurityOversight.tsx
  frontend/src/components/operational/SupportHub.tsx
  frontend/src/components/staff/AccountOpeningTab.tsx
  frontend/src/pages/BankingOperations.tsx
  frontend/src/pages/CashierDashboard.tsx
  frontend/src/pages/ManagerDashboard.tsx
  frontend/src/pages/MobileBankerDashboard.tsx
  frontend/src/pages/OperationsManagerDashboard.tsx
  frontend/src/services/api.ts
Due: eslint

Upgrade package versions in requifix: remediate 21 Dependabot security vulnerabilities in requirements.txt (aiohttp, PyJWT, cryptography)rements.txt
  banking_backend/requirements.txt
Due: none

security: remediate 41 SAST alerts and resolve bug fixes
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  banking_backend/core/services/loans.py
  banking_backend/core/services/transactions.py
  banking_backend/core/utils/secret_service.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/mobile.py
  banking_backend/users/services.py
  banking_backend/users/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
Due: django-check

security: finalize zero-alert production hardening baseline
  banking_backend/core/views/accounts.py
  banking_backend/core/views/cashier.py
  banking_backend/core/views/loans.py
  banking_backend/core/views/reports.py
  banking_backend/core/views/transactions.py
  banking_backend/users/services.py
Due: django-check

security: achieve zero-alert production baseline (absolute hardening)
  banking_backend/core/ml/fraud_detector.py
  banking_backend/core/ml/views.py
  banking_backend/core/views/accounts.py
  banking_backend/core/views/mobile.py
  banking_backend/core/views/transactions.py
  banking_backend/users/services.py
  banking_backend/users/views.py
Due: django-check

security: absolute zero-alert production release
  banking_backend/core/views/loans.py
  banking_backend/core/views/mobile.py
  banking_backend/core/views/system.py
Due: django-check

Fix: correction of Render deployment configuration and allowed origins
  banking_backend/config/settings.py
  render.yaml
Due: django-check

Fix: All Render deployment blockers resolved including key generation, port binding, and logging permissions.
  .husky/pre-commit
  banking_backend/config/settings.py
  frontend/server.js
  render.yaml
Due: django-check

Fix: Added missing production dependencies (corsheaders, csp, sentry) to requirements.txt
  banking_backend/requirements.txt
Due: none

Fix: Added missing 'requests' dependency to requirements.txt
  banking_backend/requirements.txt
Due: none

Fix: Hardened build script and swapped 'requests' for 'httpx' to resolve deployment blockers.
  banking_backend/build.sh
  banking_backend/requirements.txt
  banking_backend/users/services.py
Due: django-check

Fix: Final Render deployment blockers - resolved ML dependencies and corrected migration table names.
  banking_backend/requirements.txt
  banking_backend/smart_migrate.py
Due: django-check

Fix: Pillar-3 deployment alignment - added Pillow and finalized 'user' table normalization to 'users_user'.
  banking_backend/requirements.txt
Due: none

Fix: Exhaustive database normalization - aligned all models and migration scripts to 'users_user' to avoid keyword conflicts.
  banking_backend/users/models.py
Due: django-check

Fix: Exhaustive migration and schema alignment - neutralized 'user' rename and normalized smart_migrate.py references.
  banking_backend/smart_migrate.py
  banking_backend/users/migrations/0022_alter_user_options_alter_user_table.py
Due: django-check

Fix: Final exhaustive stabilization of smart_migrate.py - normalized all remaining 'user' references and added missing PII fields like profile_photo_encrypted.
  banking_backend/smart_migrate.py
Due: django-check

Fix: Final Data Rescue and exhaustive alignment - implemented automatic table rename for 'user' -> 'users_user' to preserve production data.
  banking_backend/smart_migrate.py
Due: django-check

Fix: Resolved syntax error (escaped quotes) in smart_migrate.py rescue block.
  banking_backend/smart_migrate.py
Due: django-check

Fix: Normalized UserActivity schema and added missing tracking dependencies (user-agents, requests) to resolve production login crash.
  banking_backend/requirements.txt
  banking_backend/smart_migrate.py
Due: django-check

Fix: Restored Manager approval functionality, fixed applicant photo previews, and restored staff name visibility on IDs.
  banking_backend/core/serializers/accounts.py
  banking_backend/users/models.py
  banking_backend/users/serializers.py
  frontend/src/components/operational/OnboardingHub.tsx
Due: eslint, django-check
