Repository emmaarthur191/coastal-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, django-check

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --config, banking_backend/pyproject.toml]
        files: ^banking_backend/
      - id: ruff-format
        args: [--config, banking_backend/pyproject.toml]
        files: ^banking_backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: end-of-file-fixer
        exclude: ^(frontend/node_modules/|\.min\.|frontend/dist/)
      - id: check-yaml
        args: ['--allow-multiple-documents']  # Allow k8s multi-doc YAML
        exclude: ^(frontend/node_modules/)
      - id: check-json
        exclude: ^(frontend/|security_audit.*\.json)  # Exclude frontend and audit files
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^(frontend/node_modules/)

  # ESLint for Frontend TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix frontend lint
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [commit]

  # Django System Check
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: python banking_backend/manage.py check --fail-level WARNING
        language: system
        files: ^banking_backend/.*\.py$
        pass_filenames: false
        stages: [commit]

# CI settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

ep and add build command
  .github/workflows/codeql.yml
Due: none

fix: resolve frontend linting warnings and code quality issues
  frontend/src/components/member/RequestServicesTab.tsx
  frontend/src/components/operational/FinancialRequestsHub.tsx
  frontend/src/pages/FraudAlerts.tsx
  frontend/src/pages/FraudCases.tsx
  frontend/src/pages/MessagingPage.tsx
  frontend/src/pages/OperationsManagerDashboard.tsx
Due: eslint

ci: improve workflow robustness and resource efficiency
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore: override shell-quote to fix critical vulnerability in root
  package-lock.json
  package.json
Due: none

chore: fix circular chunk warning in build manualChunks
  frontend/vite.config.ts
Due: none

chore: update browserslist-db and caniuse-lite
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: optimize manualChunks config and increase chunkSizeWarningLimit
  frontend/vite.config.ts
Due: none

chore: bypass husky prepare script in CI environments
  frontend/package.json
  package.json
Due: none

ci: fix CodeQL java-kotlin build by creating dist dir before cap sync
  .github/workflows/codeql.yml
Due: none

fix: add missing email_notifications, push_notifications, show_previews columns to user_message_preference
  banking_backend/smart_migrate.py
Due: django-check

fix: comprehensive smart_migrate sync — add 12 missing tables, fix column gaps, correct service_charge naming
  banking_backend/smart_migrate.py
Due: django-check

security: remediate vulnerable packages and resolve PII logging alert
  banking_backend/requirements.txt
  banking_backend/users/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  package-lock.json
  package.json
  verify_pii_phase8.py
Due: django-check

deps(security): upgrade dependencies to patch security vulnerabilities
  banking_backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(security): resolve CodeQL exception information exposure vulnerabilities
  banking_backend/core/views/reports.py
  banking_backend/users/views.py
Due: django-check

Add EthicalCheck workflow for API security testing
  .github/workflows/ethicalcheck.yml
Due: none

ci(android): explicitly pass org.gradle.java.home using JAVA_HOME
  .github/workflows/codeql.yml
Due: none

ci(android): upgrade JDK setup to version 21 to fix compilation
  .github/workflows/codeql.yml
Due: none

ci(android): patch capacitor-android XSS vulnerability using patch-package
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/@capacitor+android+8.0.0.patch
Due: none

ci(api): replace deprecated ethicalcheck with Stoplight Spectral linter
  .github/workflows/api-lint.yml
  .github/workflows/ethicalcheck.yml
  .spectral.yaml
  package.json
Due: none

ci(android): refactor message handler patch for robust codeql suppression
  frontend/package-lock.json
  frontend/patches/@capacitor+android+8.0.0.patch
Due: none

chore(git): remove commit_log, verify_error, and .gemini folder from tracking
  .gemini/antigravity/brain/database_audit.md
  .gemini/antigravity/brain/implementation_plan.md
  .gemini/antigravity/brain/task.md
  .gemini/antigravity/brain/walkthrough.md
  .gitignore
  commit_log.txt
  verify_error.txt
Due: none

chore(git): remove docs/ directory from tracking
  .gitignore
  docs/01-architecture.md
  docs/02-data-models.md
  docs/03-logic-flows.md
  docs/04-ui-ux.md
  docs/05-security.md
  docs/06-infrastructure.md
  docs/07-api-reference.md
  docs/08-incident-response.md
  docs/BLUEPRINT.md
  docs/Install-CoastalBanking.ps1
  docs/LIVE_CLIENT_PROPOSAL.md
  docs/REVIEW_RECOMMENDATIONS.md
  docs/SECURITY_ROADMAP.md
  docs/USER_GUIDE.html
  docs/USER_GUIDE.md
  docs/database_erd.jpg
  docs/database_erd.md
  docs/database_erd_full.jpg
  docs/erd_viewer.html
  docs/index.md
  docs/technical_documentation.md
  docs/user_manual.md
Due: none

chore: resolve Pyright & Pyrefly import paths and environment configuration
  banking_backend/core/test_api_accounts.py
  banking_backend/core/test_api_dashboards.py
  banking_backend/core/test_api_loans.py
  banking_backend/core/test_api_transactions.py
  banking_backend/core/test_audit_fixes.py
  banking_backend/core/test_maker_checker.py
  banking_backend/core/test_security_audit_hardening.py
  banking_backend/core/test_security_permissions.py
  banking_backend/core/tests_celery.py
  banking_backend/core/tests_logic.py
  banking_backend/core/utils/secret_service.py
  banking_backend/pyproject.toml
  banking_backend/users/models.py
  banking_backend/users/serializers.py
  banking_backend/users/signals.py
  banking_backend/users/views.py
  frontend/package.json
  frontend/tsconfig.json
Due: django-check

chore: resolve backend test coverage regressions and frontend build dependency errors
  banking_backend/.gitignore
  banking_backend/core/tests/test_account_closures_maker_checker.py
  banking_backend/core/tests/test_account_coverage_expansion.py
  banking_backend/core/tests/test_accounts_transactions_coverage.py
  banking_backend/core/tests/test_admin_approval_workflow.py
  banking_backend/core/tests/test_api_accounts_crud.py
  banking_backend/core/tests/test_api_chat.py
  banking_backend/core/tests/test_api_dashboards_metrics.py
  banking_backend/core/tests/test_api_loans_flow.py
  banking_backend/core/tests/test_api_messaging.py
  banking_backend/core/tests/test_api_transactions_flow.py
  banking_backend/core/tests/test_api_views_coverage.py
  banking_backend/core/tests/test_audit_fixes.py
  banking_backend/core/tests/test_cashier_dashboard_coverage.py
  banking_backend/core/tests/test_celery.py
  banking_backend/core/tests/test_dashboard_coverage_expansion.py
  banking_backend/core/tests/test_logic.py
  banking_backend/core/tests/test_maker_checker.py
  banking_backend/core/tests/test_manager_dashboard_api.py
  banking_backend/core/tests/test_ml_fraud.py
  banking_backend/core/tests/test_mobile_coverage.py
  banking_backend/core/tests/test_paper_first_security.py
  banking_backend/core/tests/test_report_coverage_expansion.py
  banking_backend/core/tests/test_reports_mobile_coverage.py
  banking_backend/core/tests/test_security_audit_hardening.py
  banking_backend/core/tests/test_security_permissions.py
  banking_backend/core/tests/test_service_coverage_expansion.py
  banking_backend/core/tests/test_staff_initiated_requests.py
  banking_backend/core/tests/test_transaction_coverage_expansion.py
  banking_backend/core/tests/test_utility_coverage_expansion.py
  banking_backend/tests/test_operational_workflows.py
  banking_backend/users/tests/test_sessions_and_secrets.py
  banking_backend/users/tests/test_user_coverage_expansion.py
  banking_backend/users/tests/test_users_security.py
  banking_backend/users/tests/test_views_coverage.py
  frontend/package.json
  frontend/src/utils/sentry.js
Due: eslint, django-check

fix: correct diagnostics URL prefix and SMS test mock for CI
  banking_backend/core/tests/test_utility_coverage_expansion.py
  banking_backend/users/tests/test_sessions_and_secrets.py
Due: django-check

security: replace hardcoded test passwords with dynamically constructed strings to prevent secret-scanner false positives
  banking_backend/conftest.py
  banking_backend/core/tests/conftest.py
  banking_backend/core/tests/test_security_permissions.py
  banking_backend/core/tests/test_service_coverage_expansion.py
  banking_backend/core/tests/test_staff_initiated_requests.py
  banking_backend/core/tests/test_transaction_coverage_expansion.py
  banking_backend/core/views/accounts.py
  banking_backend/tests/test_auth_integration.py
  banking_backend/tests/test_operational_workflows.py
  banking_backend/tests/test_properties.py
  banking_backend/tests/test_security.py
  banking_backend/users/management/commands/create_test_users.py
  banking_backend/users/tests/test_payload_security.py
  banking_backend/users/tests/test_sessions_and_secrets.py
  banking_backend/users/tests/test_user_coverage_expansion.py
  banking_backend/users/tests/test_users_security.py
  banking_backend/users/tests/test_views.py
  banking_backend/users/tests/test_views_coverage.py
Due: django-check

refactor: remove legacy ClientRegistration table configuration and column sync from smart_migrate.py
  banking_backend/smart_migrate.py
Due: django-check

feat: add staff bank details persistence, make routing_number optional/removed, and ssnit fallback to ghana card
  banking_backend/core/pdf_services.py
  banking_backend/smart_migrate.py
  banking_backend/users/migrations/0030_add_bank_details.py
  banking_backend/users/models.py
  banking_backend/users/serializers.py
  banking_backend/users/tests/test_staff_creation_fallback.py
  banking_backend/users/views.py
  frontend/src/components/EnhancedUserManagementForm.tsx
Due: eslint, django-check

fix: make bank branch a required field in validation and test suite
  banking_backend/users/serializers.py
  banking_backend/users/tests/test_staff_creation_fallback.py
  frontend/src/components/EnhancedUserManagementForm.tsx
Due: eslint, django-check

fix: migrate duplicate legacy database tables before dropping them to resolve foreign key violations on user deletion
  banking_backend/smart_migrate.py
Due: django-check

sec(security, auditing): remediate WebView XSS, re-apply request context auditing, and align permissions and routes
  banking_backend/config/settings.py
  banking_backend/core/middleware/base.py
  banking_backend/core/permissions.py
  banking_backend/core/tests/test_audit_fixes.py
  banking_backend/users/admin.py
  banking_backend/users/signals.py
  banking_backend/users/views.py
  frontend/patches/@capacitor+android+8.0.0.patch
Due: django-check

fix(ci): repair patch-package parse error and align test payloads with serializer schema
  banking_backend/users/tests/test_payload_security.py
  banking_backend/users/tests/test_staff_creation_fallback.py
  banking_backend/users/tests/test_views.py
  banking_backend/users/tests/test_views_coverage.py
  frontend/patches/@capacitor+android+8.0.0.patch
Due: django-check

fix(ci): strictly adhere to unified diff format for patch-package
  frontend/patches/@capacitor+android+8.0.0.patch
Due: none

fix: pii exposure, type hint, and staff/create route
  banking_backend/users/security.py
  banking_backend/users/serializers.py
  banking_backend/users/urls.py
Due: django-check

test: disable pdf compression in staff creation fallback tests
  banking_backend/users/tests/test_staff_creation_fallback.py
Due: django-check

test: fix type mismatch in payslip pdf test payload
  banking_backend/users/tests/test_staff_creation_fallback.py
Due: django-check

docs: update project documentation and readme setup steps
  .gitignore
  README.md
  docs/Full_Project_Documentation.md
Due: none

ci: migrate backend CI services to alpine-based images
  .github/workflows/main.yml
Due: none

docs: restore all technical documentation files to git tracking
  .gitignore
  docs/01-architecture.md
  docs/02-data-models.md
  docs/03-logic-flows.md
  docs/04-ui-ux.md
  docs/05-security.md
  docs/06-infrastructure.md
  docs/07-api-reference.md
  docs/08-incident-response.md
  docs/BLUEPRINT.md
  docs/Install-CoastalBanking.ps1
  docs/LIVE_CLIENT_PROPOSAL.md
  docs/REVIEW_RECOMMENDATIONS.md
  docs/SECURITY_ROADMAP.md
  docs/USER_GUIDE.md
  docs/database_erd.jpg
  docs/database_erd.md
  docs/database_erd_full.jpg
  docs/index.md
  docs/technical_documentation.md
  docs/user_manual.md
Due: none
